.travlog__travel {
  padding: 64px 0;
  display: flex;
  align-items: center;
  position: relative;
}

.travlog__travel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-right: 8rem;
}
.travlog__travel-deco {
  position: absolute;
  right: 0;
  bottom: 22%;
}

.travlog__travel-content_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.travlog__travel-content_details h3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.travlog__travel-content_details h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  max-width: 441px;
  padding-top: 16px;
}

.travlog__travel-content_details p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  padding-top: 32px;
  max-width: 425px;
  color: var(--color-grayscale);
}

.travlog__travel-content_packages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

@media screen and (max-width: 1024px) {
  .travlog__travel {
    flex-direction: column;
    padding: 32px 2rem;
    gap: 64px;
  }
  .travlog__travel-image {
    flex: 1;
  }
  .travlog__travel-image img {
    width: 100%;
  }
  .travlog__travel-content {
    padding: 0;
  }
  .travlog__travel-content_details {
    width: 100%;
    align-items: center;
  }
  .travlog__travel-content_details h1 {
    max-width: fit-content;
    font-size: 40px;
    text-align: center;
  }
  .travlog__travel-content_details p {
    max-width: fit-content;
    text-align: center;
    padding-left: 4.75rem;
    padding-right: 4.75rem;
  }

  .travlog__travel-deco {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .travlog__travel-image img {
    object-fit: cover;
  }
}

@media screen and (max-width: 450px) {
  .travlog__travel {
    padding: 64px 1rem;
  }
  .travlog__travel-image img {
    height: 100%;
  }
  .travlog__travel-content_details p {
    font-size: 14px;
    line-height: 26px;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }
  .travlog__travel-content_details h3 {
    font-size: 16px;
    line-height: 19px;
    /* or 19px */

    text-align: center;
    letter-spacing: 0.2em;
  }
  .travlog__travel-content_details h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
