.travlog__services {
  display: flex;
  align-items: center;
}
.travlog__services-content {
  position: relative;
}
.travlog__services-content h3 {
  text-transform: uppercase;

  font-weight: 700;
  font-size: 23px;
  line-height: 28px;

  letter-spacing: 0.2em;
  color: var(--color-secondary);
}

.travlog__services-content h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  max-width: 444px;
  margin-top: 16px;
}

.travlog__services-content_services-carousel {
  flex: 1;
  overflow: hidden;
}

.inner__carousel {
  display: flex;
  cursor: grab;
  gap: 21px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .travlog__services {
    flex-direction: column;
    justify-content: center;
  }
  .travlog__services-content {
    text-align: center;
  }
  .travlog__services-content h1 {
    max-width: max-content;
    margin-right: 0 !important;
  }
  .travlog__services-content_services-carousel {
    padding: 64px 0;
  }
}
@media screen and (max-width: 768px) {
  .travlog__services-content_services-carousel {
    width: 100%;
  }
  .inner__carousel {
    flex-direction: column;
    flex: 1;
    
  }
}
